<br>
<div class="jumbotron" style="text-align:center">
  <h1>BLACK INK</h1>
  <p><i>A 501(c)(3) FOR WRITERS</i></p>
  <img src="https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/3/35/Birds-cute-fly-overlays-Faavim.com-2238557.png/revision/latest?cb=20170503004510">
</div>
    <div class="well" style="text-align:center">
      <h2>Create New Project</h2>
      <br>
      <form class="form-group" action="/home" method="post">
        <input name="title" class="form-control" type="text" placeholder= "PROJECT TITLE" style="text-align:center" id="input">
        <br>
        <button type="submit" name="submit" class="btn btn-success">ADD PROJECT</button>
      </form>
    </div> <!-- well -->
    <br>
    <div class="well" style="text-align:center">
      <h2>Current Projects</h2>
      <br>
      <% @projects.each do |project| %>
        <h4><a href="/project/<%= project.id()%>"><%= project.title %></a></h4>
        <hr>
      <% end %>
    </div>
